// @font-face {
// font-family: "atari_full";
// src: url("../fonts/atari_full.ttf") format("ttf");
// font-weight: normal;
// font-style: normal;
// }

@font-face {
  font-family: 'PressStart2P';
  src: url('../fonts/pressstart2p-regular-webfont.woff2') format('woff2'),
  url('../fonts/pressstart2p-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

